<!doctype html>
<html ng-app="mdataPanelApp">
    <head>
        <link href="../../mdata/sass/index.css" rel="stylesheet"/>
        <script src="../../common/js/common.js"></script>
    </head>
    <body ng-controller="PageFrameCtrl">
        <header class="header" ng-controller="HeaderCtrl" ng-if="!outlineHide">
    <h1 class="header_logo sprite sprite-mdata_logo"></h1>
    <menu class="header_settings dropdown-host">
        <a class="header_settings_user dropdown-target" href="javascript:void(0);"
           ng-click="show()">guopengfei</a>
        <i class="header_settings_arrow iconfont"
           ng-class="{'icon-arrow-small-down': !isshow, 'icon-arrow-small-up': isshow}"></i>
        <ul class="dropdown dropdown-br" data-dropdown-position="br">
            <li class="dropdown_arrow"></li>
            <li class="dropdown_arrow dropdown_arrow-mask"></li>
            <li class="dropdown_list dropdown_list-group">
                <span class="dropdown_list-group_iconfont iconfont icon-wrench"></span>
                <a href="#/change_password">Change&nbsp;password</a>
            </li>
            <li class="dropdown_list dropdown_list-group">
                <span class="dropdown_list-group_iconfont iconfont icon-goout"></span>
                <a href="javascript:void(0);" ng-click="logout()">Log&nbsp;out</a>
            </li>
        </ul>
    </menu>
</header>
        <nav class="nav" ng-controller="navigationCtrl" ng-if="!outlineHide">
    <ul class="nav_list">
        <li class="nav_list_item" ng-if="authority == 1" ng-class="{'nav_list_item-active' : page == 'application'}">
            <a href="#/application/manage">
                <i class="iconfont icon-application"></i>
                <p>Application</p>
            </a>
        </li>
        <li class="nav_list_item" ng-if="authority == 1" ng-class="{'nav_list_item-active' : page == 'account'}">
            <a href="#/account/manage">
                <i class="iconfont icon-account"></i>
                <p>Account</p>
            </a>
        </li>
        <li class="nav_list_item" ng-if="authority == 1" ng-class="{'nav_list_item-active' : page == 'systemLog'}">
            <a href="#/systemLog">
                <i class="iconfont icon-system"></i>
                <p>System log</p>
            </a>
        </li>
        <li class="nav_list_item" ng-class="{'nav_list_item-active' : page == 'report'}">
            <a href="#/report/manage">
                <i class="iconfont icon-report"></i>
                <p>Report</p>
            </a>
        </li>
    </ul>
    <dl class="shortcuts" ng-class="{'shortcuts-active' : appsShow}">
        <dt class="shortcuts_title" ng-click="appsShow = !appsShow">
            <i class="shortcuts_title_icon iconfont icon-shortcuts"></i>
            <p>Shortcuts</p>
            <i class="shortcuts_title_arrow iconfont icon-arrow-small-up"></i>
        </dt>
        <dd class="shortcuts_apps">
            <dl class="shortcuts_apps_app" ng-repeat="shortcut in shortcuts" ng-class="{'shortcuts_apps_app-active' : reportsShow[$index]}">
                <dt class="shortcuts_apps_app_title" ng-click="reportsShow[$index] = !reportsShow[$index]">
                    <p>{{ shortcut.app.name }}</p>
                    <i class="shortcuts_apps_app_title_arrow iconfont icon-arrow-small-up"></i>
                </dt>
                <dd class="shortcuts_apps_app_report">
                    <ul>
                        <li ng-repeat="report in shortcut.reports" ng-style="{color : currentReportId == report.id ? '#fff' : 'inherit'}"><a href="#/report/view/{{ report.id }}">{{ report.name }}</a></li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
</nav>
        <article class="main img-cover" ng-class="{'main-login': islogin, 'main-other': outlineHide}">
            <section class="main_header" ng-if="!outlineHide" ng-controller="breadcrumbCtrl">
    <h2 class="main_header_title" ng-bind="breadcrumb[0] | capitalize"></h2>
    <nav class="breadcrumb">
        <em class="iconfont icon-coords"></em>
        <ul class="breadcrumb_list">
            <li class="breadcrumb_list_item">Locations:</li>
            <li class="breadcrumb_list_item" ng-repeat="item in breadcrumb track by $index"
                ng-class="{'breadcrumb_list_item-url' : $index %2 == 0}"
                ng-bind-html="item | capitalize" ng-click="setHref($index)"></li>
        </ul>
    </nav>
</section>
            <section class="main_content">
                <div class="main_content-wrap ng-view"></div>
            </section>
        </article>
        <script src="../../mdata/js/app.js"></script>
    </body>
</html>