@charset "UTF-8";
/*
    settings
*/
/*
    browser
*/
/*
    familys
*/
/*
    font
*/
:root {
  font-size: 24px;
}

/*
    colors
*/
/*
    page
*/
/*
    font
*/
/*
    button
*/
/*
    form
*/
/*
    select
*/
/*
    base-style
*/
html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font: 9.33333px "Microsoft Yahei", SimHei, SimSun, "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  color: #000;
  background-color: #f1f4f9;
}

.no-wrap {
  white-space: nowrap;
  word-break: keep-all;
}

/* 灰色图片过滤器 */
.img-gray {
  -ms-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
}

.text-shadow {
  -webkit-text-shadow: rem(1) rem(1) rem(4) #0c0c0c;
  text-shadow: rem(1) rem(1) rem(4) #0c0c0c;
}

.fixed {
  position: fixed !important;
  top: 0 !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/*ios文本框阴影*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
*/
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
*  补充normalize
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, img, pre, code, form, fieldset, legend, input, menu, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  outline: none;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

legend {
  color: #000;
}

i, em {
  font-style: normal;
}

input, textarea, select, button, fieldset {
  outline: none;
  border: none;
}

input, textarea, select {
  *font-size: 100%;
}

input:-webkit-autofill {
  background-color: #FFFFFF;
}

textarea {
  resize: none;
  word-break: break-all;
}

/* touch浮现的半透明层 */
a, button, input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

/*
    functions
*/
/*
    $direction: left;
    $reverse: direction-reverse($direction);   // right
*/
/*
    $list: a, b, c, d, e, f;
    $last: first($list);   // a
*/
/*
    $list: a, b, c, d, e, f;
    $last: last($list);   // f
*/
/*
    $list: a, b, c, d z, e, a, f;
    $first-index: index($list, a);     // 1
    $last-index: last-index($list, a); // 6
    $last-index: last-index($list, z); // null
*/
/*
    $list: b, c, d, e, f;
    $new-list: prepend($list, a);               // a, b, c, d, e, f
    $new-list: prepend($list, now i know my a); // now, i, know, my, a, b, c, d, e, f
*/
/*
    $list: a, b, r, a, c a, d a, b, r, a;
    $new-list: replace($list, a, u);       // u, b, r, u, c a, d a, b, r, u;
    $new-list: replace($list, a, u, true); // u, b, r, u, c u, d u, b, r, u;
*/
/*
    $list: a, b z, c, z, d, z, e, f;
    $new-list: remove($list, z);       // a, b z, c, d, e, f;
    $new-list: remove($list, z, true); // a, b, c, d, e, f
*/
/*
    $list: a, b, c, d, e, f;
    $new-list: slice($list, 3, 5);   // c, d, e
    $new-list: slice($list, 4, 4);   // d
    $new-list: slice($list, 5, 3);   // e, d, c
    $new-list: slice($list, -1, 10); // error
*/
/*
    $list: a, b, c d e, f, g, h;
    $new-list: reverse($list);       // h, g, f, c d e, b, a
    $new-list: reverse($list, true); // h, g, f, e d c, b, a
*/
/*
    $list: a, b, c d e, f, g, h;
    $new-list: to-string($list);      // abcdefgh
    $new-list: to-string($list, '-'); // a-b-c-d-e-f-g-h
*/
/*
    $list: a, b, c, d, e, f;
    $new-list: loop($list, 2);  // e, f, a, b, c, d
    $new-list: loop($list, -2); // c, d, e, f, a, b
*/
/*
    mixins
*/
/*

*/
/*
    placeholders
*/
/* ghost element style vertical middle align */
.v-align-middle:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.img-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.cf {
  *zoom: 1;
}
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/*   占位符里面使用的变量，只会按照默认值或者第一次定义的值来计算(中途修改无效)；
 *   如若有差异性需要，使用@mixin
 *   判断鸡肋代码只是为了对关键属性做提示
 */
.mask {
  z-index: 10;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}

/*
    component-ui
*/
.alert_mask {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.alert_panel {
  z-index: 101;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 12rem;
  height: 7rem;
  margin-left: -6rem;
  margin-top: -3.5rem;
  border: 1px solid #909090;
  background-color: #ffffff;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  border-radius: 4px 4px;
}
.alert_panel_info {
  z-index: 101;
  position: relative;
  line-height: 4rem;
  text-align: center;
  font-size: 0.8rem;
  color: #505050;
}
.alert_panel_btn {
  z-index: 101;
  position: relative;
  border-top: 1px solid #d9d9d9;
  line-height: 2.8rem;
  text-align: center;
  font-size: 0.9rem;
  color: #f6644e;
}

.button {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;
  vertical-align: baseline;
  padding: 7px 12px;
  border: 1px solid #22baa0;
  background-color: #22baa0;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}
.button-group {
  font-size: 0;
}
.button-save {
  border-color: #12afcb;
  background-color: #12afcb;
}
.button-save:active {
  border-color: #0e879c;
  background-color: #0e879c;
}
.button-cancel {
  border-color: #999999;
  background-color: #999999;
}
.button-cancel:active {
  border-color: gray;
  background-color: gray;
}
.button-save-plus {
  border-color: #109db6;
  background-color: #109db6;
}
.button-save-plus:active {
  border-color: #0c7587;
  background-color: #0c7587;
}
.button-cancel-minus {
  border-color: #868686;
  background-color: #868686;
}
.button-cancel-minus:active {
  border-color: #6d6d6d;
  background-color: #6d6d6d;
}
.button-create {
  border-color: #22baa0;
  background-color: #22baa0;
}
.button-create:active {
  border-color: #1a8f7b;
  background-color: #1a8f7b;
}
.button-create-plus {
  border-color: #1ea78f;
  background-color: #1ea78f;
}
.button-create-plus:active {
  border-color: #167c6a;
  background-color: #167c6a;
}

.dropdown {
  z-index: 800;
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #d8dee4;
}
.dropdown-host {
  position: relative;
}
.dropdown-target {
  position: relative;
}
.dropdown_list {
  z-index: 800;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 1.41667rem;
  font-size: 12px;
  color: #5f5f5f;
}
.dropdown_list:hover {
  background-color: #f7f7f7;
  color: #262626;
}
.dropdown_list-group {
  position: relative;
  padding-left: 24px;
}
.dropdown_list-group_iconfont {
  position: absolute;
  left: 6px;
}
.dropdown_arrow {
  z-index: 700;
  position: absolute;
}
.dropdown_arrow-mask {
  position: absolute;
}
.dropdown-bl .dropdown_arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d8dee4;
  top: -8px;
  left: 10px;
}
.dropdown-bl .dropdown_arrow-mask {
  top: -7px;
  border-bottom-color: #fff;
}
.dropdown-br .dropdown_arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d8dee4;
  top: -8px;
  right: 10px;
}
.dropdown-br .dropdown_arrow-mask {
  top: -7px;
  border-bottom-color: #fff;
}

.flag {
  display: inline-block;
  vertical-align: baseline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #e4ecf3;
  font-size: 12px;
  line-height: 14px;
  color: #2498d0;
}
.flag-icon {
  padding: 5px 6px;
  background-color: #12afcb;
  color: #fff;
}
.flag-icon_delete {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 4px;
  font-size: 14px !important;
  line-height: 14px;
}
.flag-icon_delete:hover {
  background-color: #109eb7;
}

.fieldset {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.fieldset_text {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form-panel {
  margin: 0 auto;
  max-width: 480px;
  width: 20rem;
  border: 1px solid transparent;
}
.form-panel .fieldset {
  position: relative;
  margin-top: 1.5rem;
  border: 2px solid #4dbca2;
  background-color: rgba(255, 255, 255, 0.8);
  color: #666666;
}
.form-panel .fieldset-error {
  border-color: rgba(255, 0, 0, 0.4);
}
.form-panel .fieldset-error .fieldset_warn {
  display: block;
}
.form-panel .fieldset-group {
  position: relative;
  padding-left: 1.75rem;
}
.form-panel .fieldset-group_label {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.83333rem;
  text-align: center;
  color: #4dbca2;
}
.form-panel .fieldset_text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0.41667rem 1px;
  width: 100%;
  background-color: transparent;
  line-height: 0.83333rem;
  font-size: 0.58333rem;
}
.form-panel .fieldset_text-focus {
  border-left: none;
}
.form-panel .fieldset_button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 1.91667rem;
  background-color: #4dbca2;
  line-height: 1.91667rem;
  font-size: 0.83333rem;
  text-align: center;
  color: #fff;
}
.form-panel .fieldset_warn {
  display: none;
  position: absolute;
  padding: 8px 12px;
  border: 1px solid #d8dee4;
  background-color: #fff;
  font-size: 12px;
  color: #d8dee4;
}
.form-panel .fieldset_warn-arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-left: 0;
  border-right: 8px solid #d8dee4;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  left: -8px;
  top: 50%;
  margin-top: -8px;
}
.form-panel .fieldset_warn-arrow-mask {
  left: -7px;
  border-right-color: #fff;
}
.form-list .fieldset_label {
  display: block;
}
.form-list .fieldset_text {
  display: block;
  padding: 7px;
  width: 270px;
  border: 1px solid #dce1e4;
  font-size: 12px;
  line-height: 1.5;
}
.form-tool .fieldset_text {
  padding: 6px 5px;
  width: 240px;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 16px;
}
.form-tool .fieldset_text:focus {
  border-color: #c9c9c9;
}
.form-tool .fieldset_button {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 8px;
  width: 30px;
  background-color: #22baa0;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.form-tool .fieldset_button:hover {
  background-color: #1db198;
}

.select {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  background-color: #fff;
}
.select-disable {
  color: #999;
  background-color: #f1f1f1;
}
.select_main {
  cursor: pointer;
  padding-right: 1.33333rem;
  border: 1px solid #dce1e4;
  line-height: 1.33333rem;
}
.select_main-active {
  background-color: #f1f1f1;
}
.select_main_p {
  padding: 0 6px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select_main_icon {
  position: absolute;
  top: 14px;
  right: 12px;
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-bottom: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333333;
}
.select_content a {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .row {
  padding: 0.58333rem;
  border-bottom: 1px solid #dddddd;
  line-height: 16px;
  font-size: 12px;
  color: #777777;
}
.container .row:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.container .row-title {
  border-color: #111111;
  font-weight: bold;
}
.container .row_column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-right: 10px;
}
.container .row_column-2 {
  width: 50%;
}
.container .row_column-3 {
  width: 33.33333%;
}
.container .row_column-4 {
  width: 25%;
}
.container .row_column-5 {
  width: 20%;
}

.tooltip {
  z-index: 88;
  display: none;
  position: absolute;
  padding: 8px 12px;
  border: 1px solid #d8dee4;
  background-color: #fff;
  font-size: 12px;
  color: #d8dee4;
}
.tooltip-active {
  display: block;
}
.tooltip_arrow {
  position: absolute;
}
.tooltip_arrow-mask {
  position: absolute;
}
.tooltip-tc .tooltip_arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-bottom: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #d8dee4;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
}
.tooltip-tc .tooltip_arrow-mask {
  bottom: -7px;
  border-top-color: #fff;
}
.tooltip-rc .tooltip_arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-left: 0;
  border-right: 8px solid #d8dee4;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  left: -8px;
  top: 50%;
  margin-top: -8px;
}
.tooltip-rc .tooltip_arrow-mask {
  left: -7px;
  border-right-color: #fff;
}
.tooltip-bc .tooltip_arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d8dee4;
  top: -8px;
  left: 50%;
  margin-left: -8px;
}
.tooltip-bc .tooltip_arrow-mask {
  top: -7px;
  border-bottom-color: #fff;
}
.tooltip-br .tooltip_arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d8dee4;
  top: -8px;
  right: 10px;
}
.tooltip-br .tooltip_arrow-mask {
  top: -7px;
  border-bottom-color: #fff;
}
.tooltip-lc .tooltip_arrow {
  display: block;
  width: 0;
  height: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  border-right: 0;
  border-left: 8px solid #d8dee4;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  right: -8px;
  top: 50%;
  margin-top: -8px;
}
.tooltip-lc .tooltip_arrow-mask {
  right: -7px;
  border-left-color: #fff;
}

/*# sourceMappingURL=common.css.map */
