/*
    colors
*/
$green: #78c150;
$green-light: #8dd964;
$green-dark: #6ab442;

$blue: #2b8fc9;
$blue-light: #37a2e1;
$blue-dark: #2586be;

$grey: #9d9d9d;
$grey-light: #b5b5b5;
$grey-dark: #919191;

$red: #df4040;
$yellow: #ffb527;

/*
    font
*/
$text: #1b1b1b;
$text-light: #999;
$text-link: #2b8fc9;

/*
    button
*/
$button-color: #1ea78f;

/*
    form
*/
$form-hover: #f1f1f1;
$form-border: #c1c1c1;


$nav-blue-light: #95dcfc;
$nav-blue-dark: #165d87;
$bg-grey: #f5f5f5;
$border-color: #cccccc;
$wire-color:#c1c1c1;

