.header {
    z-index: 100;
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: rem(60);
    background-color: $header-background-color;
    &_logo {
        float: left;
        width: 200px;
        line-height: rem(60);
        text-align: center;
    }
    &_user {
        float: right;
        width: 160px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        .icon {
            margin-left: 8px;
            color: #fff;
        }
    }
}