.main {
    padding-left: rem(200);
    min-height: 100%;
    &_header {
        height: rem(90);
        background-color: #e9edf2;
    }
    &_content {
        padding: rem(30) rem(30) 0;
        &-wrap {
            padding: rem(20);
        }
    }
    &-login {
        padding-left: 0;
        background-img: url("");
        .main_header {
            display: none;
        }
        .main_content {
            padding: 0;
            &-wrap {
                padding: 0;
            }
        }
    }
}