.alert-panel {
    @include panel(12rem, 7rem);
    @include box-radius(4px, 4px);
    &_info {
         z-index: 101;
         position: relative;
         line-height: 4rem;
         text-align: center;
         font-size: 0.8rem;
         color: #505050;
    }
    &_btn {
         z-index: 101;
         position: relative;
         border-top: 1px solid #d9d9d9;
         line-height: 2.8rem;
         text-align: center;
         font-size: 0.9rem;
         color: #f6644e;
    }
}

.mask {
    @include mask();
    &--9999 {
        z-index: 9999;
    }
}
