.input-text {

}

.fieldset {
    margin-top: rem(36);
    border: 2px solid $fieldset-border-color;
    color: $fieldset-font-color;
    &-group {
        position: relative;
        padding-left: rem(42);
    }
    &_label {
        position: absolute;
        left: 0;
        top: 0;
        width: rem(42);
        height: rem(42);
        line-height: rem(42);
        text-align: center;
    }
    &_text {
        @include prefix(box-sizing, border-box);
        display: block;
        padding: rem(12) 1px;
        width: 100%;
        line-height: rem(16);
        &-focus {
            border-left: none;
        }
    }
    &_button {
        @include prefix(box-sizing, border-box);
        display: block;
        width: 100%;
        height: rem(46);
        background-color: $fieldset-border-color;
        line-height: rem(46);
        font-size: rem(20);
        text-align: center;
        color: #fff;
    }
}

.form {
    margin: rem(300) auto 0;
    max-width: 480px;
    width: rem(480);
    border: 1px solid transparent;
}