.container {
    .row {
        border-bottom: 1px solid #dddddd;
        line-height: 46px;
        color: #777777;
        .row-title {
            border-color:
        }
        &_column {
            &-2 {

            }
            &-3 {

            }
            &-4 {

            }
            &-5 {

            }
        }
    }
}