.tooltip {
    z-index: 88;
    display: none;
    position: absolute;
    padding: 8px 12px;
    border: 1px solid #d8dee4;
    font-size: 12px;
    color: #d8dee4;
    &-active {
        @include fade-in();
    }
    &_arrow {
        position:absolute;
        @include arrow(bottom, 8px, 8px, $blue);
        &-mask {
            border-color:#fff;
        }
    }
}

