.report-page{
	.report-date{
		width:202px;
		vertical-align: middle;
	}
	.select-btn-column,.field-text-column{
		width:118px;
	}
	.teatarea-column{
		width:98%;
		display:inline-block; 
	}
	.report-app{
		background:#eeeeee;
	}
	.report-describe{
		width:664px; 
		height:44px;
		padding:10px;
		text-indent:0px; 
	}
	.field-report{
		margin-bottom:12px;
		.flag {
			margin-right: 4px;
		}
	}
	.report-title{
		width:152px; 
		display:inline-block;
		margin-bottom:0px; 
	}
	.report-title-describe{
		float:left; 
		display:block;
	}
	.report-describe-show{
		display: block;
    	margin-left: 152px;
	}
	.report-table{
		.container{
			.row-title{				
				border-top:1px solid #dddddd;
				border-bottom:3px solid #dddddd;
				border-color:#dddddd;
			}
			.row{
				padding:0px;
				border-right:1px solid #dddddd;
			}
			li{
				padding: rem(14);
				height:46px;
				border-left: 1px solid #dddddd;
			}
			.row-color-interlaced:nth-child(2n+1){
				background-color: #f9f9f9;
			}
			.row-color-interlaced:nth-child(2n){
				background:none;
			}
		}
	}
	.report-email,.report-export{
		padding:7px 12px;
		color:#ffffff;
		font-size:12px;
		color:#ffffff;
	}
	.report-email{
		background:#7a6fbe;
		margin-right:10px;
	}
	.report-export{
		@include inline-block();
		background:#22baa0;
	}
	.report-data-select{
		@include inline-block();
		width:118px;
		margin:0 10px 0 10px;
		border: 1px solid #dce1e4;
	}
	.report-blue-btn{
		color:#fff;
		padding:6px 18px;
		background-color:#12afcb;
	}
	.report-load-btn{
		@include inline-block();
	}
	.report-edit-btn{
		@include inline-block();
		margin-left:30px;
	}
	.report-data-text{
		width:88px;
		height:32px;
		border:none;
		text-indent:8px;
	}
	.icon-date{
		margin:4px 3px 0 0;
		cursor:pointer;
	}
	.report-data-define{
		margin-right:10px;
		width:120px;
	}
}

.report{
	color:#5f5f5f;
	font-size:12px;
	.report-dimension{
		margin:0 22px 0 5px;
	}
}