.report-manage {
    .row-title {
        .iconfont {
            font-weight: normal;
        }
    }
    .row_column:last-of-type {
        text-align: right;
    }
    .iconfont {
        color: #8facd2;
        margin: 0 16px;
    }
}