.report-page{
	.report-date{
		width:202px;
		vertical-align: middle;
	}
	.select-btn-column,.field-text-column{
		width:118px;
	}
	.teatarea-column{
		width:697px;
		display:inline-block; 
	}
	.report-app{
		background:#eeeeee;
	}
	.report-describe{
		width:664px; 
		height:44px;
		padding:10px;
		text-indent:0px; 
	}
}