<form class="form">
    <fieldset class="fieldset fieldset-group">
        <label class="fieldset_label icon"></label>
        <input ng-model="account" class="fieldset_text" type="text">
    </fieldset>
    <fieldset class="fieldset fieldset-group">
        <label class="fieldset_label icon"></label>
        <input ng-model="password" class="fieldset_text" type="text">
    </fieldset>
    <fieldset class="fieldset">
        <button ng-click="submit()" class="fieldset_button" type="button">log in</button>
    </fieldset>
</form>