body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:760px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:760px;
}
#u2 {
  position:absolute;
  left:2px;
  top:372px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:8px;
  top:6px;
  width:202px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:40px;
  width:1000px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u6 {
  position:absolute;
  left:8px;
  top:110px;
  width:103px;
  height:25px;
}
#u6_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u8 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u9 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:8px;
  top:52px;
  width:122px;
  height:205px;
}
#u10_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u12 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u13 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:20px;
  width:75px;
  height:20px;
}
#u15 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u16 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:40px;
  width:76px;
  height:20px;
}
#u18 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u19 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:60px;
  width:98px;
  height:20px;
}
#u21 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u22 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:80px;
  width:66px;
  height:20px;
}
#u24 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u25 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:100px;
  width:84px;
  height:20px;
}
#u27 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u30 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u26_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31 {
  position:absolute;
  left:20px;
  top:20px;
  width:62px;
  height:20px;
}
#u32 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u31_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:20px;
  top:20px;
  width:77px;
  height:20px;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:50px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:60px;
  width:62px;
  height:20px;
}
#u40 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u39_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44 {
  position:absolute;
  left:20px;
  top:20px;
  width:77px;
  height:20px;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:50px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:189px;
  top:50px;
  width:10px;
  height:700px;
}
#u47_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u47_end {
  position:absolute;
  left:-5px;
  top:683px;
  width:20px;
  height:18px;
}
#u47_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:700px;
}
#u48 {
  position:absolute;
  left:830px;
  top:6px;
  width:162px;
  height:34px;
}
#u48_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:40px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:34px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:34px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:34px;
  width:130px;
  height:39px;
  visibility:hidden;
}
#u52_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:45px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:19px;
  width:130px;
  height:20px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:202px;
  top:78px;
  width:348px;
  height:25px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:25px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:202px;
  top:113px;
  width:58px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:202px;
  top:141px;
  width:70px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:290px;
  top:108px;
  width:220px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:290px;
  top:136px;
  width:220px;
  height:84px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:520px;
  top:113px;
  width:30px;
  height:15px;
  color:#FF0000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:202px;
  top:235px;
  width:100px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:312px;
  top:235px;
  width:100px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
