<form class="account-page">
    <fieldset class="field-common">
        <legend class="field-title-com">Email</legend>
        <input class="fieldset-text-com" type="text">
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Name</legend>
        <input class="fieldset-text-com" type="text">
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Password</legend>
        <input class="fieldset-text-com" type="text">
        <span class="red-star">*</span>
    </fieldset>
    <legend class="field-title-com account-authority">Authority</legend>
    <fieldset class="field-common field-account">
        <legend class="field-title-account">As Report Admin</legend>
        <div>
            <div class="select dropdown-host select-btn">
                <div class="select_main">
                    <p class="select_main_p">哈哈哈</p>
                    <i class="select_main_icon select_target"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button tooltip-host" data-tooltip-position="tc" data-tooltip-info="tc">add</button>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common field-account">
        <legend class="field-title-account">As Report Viewer</legend>
        <div>
            <div class="select dropdown-host select-btn">
                <div class="select_main">
                    <p class="select_main_p">哈哈哈</p>
                    <i class="select_main_icon select_target"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button tooltip-host" data-tooltip-position="tc" data-tooltip-info="tc">add</button>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <span class="button-group page-btns">
            <button class="button button-create-plus"><i class="iconfont icon-plus"></i></button>
            <button class="button button-create">Create</button>
        </span>
        <span class="button-group">
            <button class="button button-cancel-minus"><i class="iconfont icon-small"></i></button>
            <button class="button button-cancel">Cancel</button>
        </span>
    </fieldset>
</form>