<section class="cf">
    <div class="left button-group">
        <a href="#/account/manage/create" class="button button-create-plus">+</a>
        <a href="#/account/manage/create" class="button button-create">Create Account</a>
    </div>
    <div class="form-tool right">
        <form novalidate name="searchForm">
            <fieldset class="fieldset">
                <input class="fieldset_text" name="searchInput" ng-model="searchTerms" type="text" required placeholder="Search message...">
                <button class="fieldset_button iconfont icon-search" ng-click="submit()"></button>
            </fieldset>
        </form>
    </div>
</section>
<dl class="container">
    <dt class="row row-title">
    <ul>
        <li class="row_column row_column-5" ng-click="changeAppSort('name')">Name</li>
        <li class="row_column row_column-5" ng-click="changeAppSort('email')">Email</li>
        <li class="row_column row_column-5">As Report Admin</li>
        <li class="row_column row_column-5">As Report Viewer</li>
        <li class="row_column row_column-5">Manage</li>
    </ul>
    </dt>
    <dd class="row row-color-interlaced" ng-repeat="account in dataAccounts.data | filter:search | orderBy:appListSort ">
        <ul>
            <li class="row_column row_column-5">
                <a href="#/account/manage/edit/{{ account.id }}">{{ account.name }}</a>
            </li>
            <li class="row_column row_column-5">
                <a href="#/account/manage/edit/{{ account.id }}">{{ account.email }}</a>
            </li>
            <li class="row_column row_column-5">
                <span ng-repeat="report in account['as_report_admin'] | orderBy:reportAdminSort ">
                    <a href="#/report/view/{{ report.id }}">{{ report.name }}</a>
                </span>
            </li>
            <li class="row_column row_column-5">
                <span ng-repeat="report in account['as_report_viewer'] | orderBy:reportViewerSort ">
                    <a href="#/report/view/{{ report.id }}">{{ report.name }}</a>
                </span>
            </li>
            <li class="row_column row_column-5">
                <a href="#/account/manage/edit/{{ account.id }}" class="iconfont icon-edit tooltip-host" data-tooltip-position="bc" data-tooltip-info="Edit"></a>
                <i class="iconfont icon-delete tooltip-host" data-tooltip-position="bc" data-tooltip-info="Delete"></i>
            </li>
        </ul>
    </dd>
</dl>