<section class="cf">
    <div class="left button-group">
        <a href="#/account/manage/create" class="button button-create-plus">+</a>
        <a href="#/account/manage/create" class="button button-create">Create Account</a>
    </div>
    <div class="form-tool right">
        <search></search>
    </div>
</section>
<dl class="container">
    <dt class="row row-title">
    <ul>
        <li class="row_column row_column-5" ng-click="changeSort('appList', 'name')">Name</li>
        <li class="row_column row_column-5" ng-click="changeSort('appList', 'email')">Email</li>
        <li class="row_column row_column-5" ng-click="changeSort('adminReports', 'name')">As Report Admin</li>
        <li class="row_column row_column-5" ng-click="changeSort('viewerReports', 'name')">As Report Viewer</li>
        <li class="row_column row_column-5">Manage</li>
    </ul>
    </dt>
    <dd class="row row-color-interlaced" ng-repeat="account in viewData | orderBy:sort.appList.orderKey:sort.appList.isDownOrder ">
        <ul>
            <li class="row_column row_column-5">
                <a href="#/account/manage/edit/{{ account.uid }}">{{ account.nickname }}</a>
            </li>
            <li class="row_column row_column-5">
                <a href="#/account/manage/edit/{{ account.uid }}">{{ account.username }}</a>
            </li>
            <li class="row_column row_column-5">
                <span ng-repeat="app in account['as_report_admin'] | orderBy:sort.adminReports.orderKey:sort.adminReports.isDownOrder ">
                    <a href="#/report/view/{{ app.appid }}">{{ app.appname }}</a>
                </span>
            </li>
            <li class="row_column row_column-5">
                <span ng-repeat="app in account['as_report_viewer'] | orderBy:sort.viewerReports.orderKey:sort.viewerReports.isDownOrder ">
                    <a href="#/report/view/{{ app.appid }}">{{ app.appname }}</a>
                </span>
            </li>
            <li class="row_column row_column-5">
                <a href="#/account/manage/edit/{{ account.uid }}" class="iconfont icon-edit tooltip-host" data-tooltip-position="bc" data-tooltip-info="Edit"></a>
                <i class="iconfont icon-delete tooltip-host" data-tooltip-position="bc" data-tooltip-info="Delete" ng-click="delete(account.uid)"></i>
            </li>
        </ul>
    </dd>
</dl>