<article class="account-page account-manage">
    <section class="cf">
        <div class="left button-group">
            <a href="#/account/manage/create" class="button button-create-plus"><i class="iconfont icon-plus"></i></a>
            <a href="#/account/manage/create" class="button button-create">Create Account</a>
        </div>
        <div class="form-tool right">
            <search></search>
        </div>
    </section>
    <dl class="container">
        <dt class="row row-title">
        <ul>
            <li class="row_column row_column-5" ng-click="changeSort('appList', 'nickname')">Name</li>
            <li class="row_column row_column-5" ng-click="changeSort('appList', 'username')">Email</li>
            <li class="row_column row_column-5" ng-click="changeSort('adminReports', 'appname')">As Report Admin</li>
            <li class="row_column row_column-5" ng-click="changeSort('viewerReports', 'appname')">As Report Viewer</li>
            <li class="row_column row_column-5">Manage</li>
        </ul>
        </dt>
        <dd class="row row-color-interlaced" ng-repeat="account in viewData | orderBy:sort.appList.orderKey:sort.appList.isDownOrder ">
            <ul>
                <li class="row_column row_column-5">{{ account.nickname }}</li>
                <li class="row_column row_column-5">{{ account.username }}</li>
                <li class="row_column row_column-5">
                    <span ng-if="account['reportAdmin'].length == 0 || !account['reportAdmin']['appname']">-</span>
                    <span ng-repeat="app in account['reportAdmin'] | orderBy:sort.adminReports.orderKey:sort.adminReports.isDownOrder ">
                        {{ app.appname }}
                    </span>
                </li>
                <li class="row_column row_column-5">
                    <span ng-if="account['reportViewer'].length == 0 || !account['reportViewer']['appname']">-</span>
                    <span ng-repeat="app in account['reportViewer'] | orderBy:sort.viewerReports.orderKey:sort.viewerReports.isDownOrder ">
                        {{ app.appname }}
                    </span>
                </li>
                <li class="row_column row_column-5">
                    <a href="#/account/manage/edit/{{ account.uid }}" class="iconfont icon-edit tooltip-host" data-tooltip-position="bc" data-tooltip-info="Edit"></a>
                    <i class="iconfont icon-delete tooltip-host" data-tooltip-position="bc" data-tooltip-info="Delete" ng-click="delete(account.uid)"></i>
                </li>
            </ul>
        </dd>
    </dl>
</article>
