<form>
    <fieldset>
        <legend>Name</legend>
        <input type="text">
    </fieldset>
    <p>
        Application ID
        <i class="tip">{{ id }}</i>
    </p>
    <fieldset>
        <legend>Report Name</legend>
        <input type="text">
    </fieldset>
    <fieldset>
        <legend>Describe</legend>
        <textarea></textarea>
    </fieldset>
    <fieldset>
        <legend>Dimension</legend>
        <div>
            <div class="select"></div>
            <button>Add</button>
        </div>
        <div>
            <div class="select dropdown-host" data-value="Mail">
                <ul class="select_main">
                    <p class="select_main_p">Mail</p>
                    <i class="select_main_icon"></i>
                </ul>
                <div class="dropdown"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Filter</legend>
        <div>
            <div class="select"></div>
            <button>Add</button>
        </div>
        <div>
            <div class="select dropdown-host" data-value="Mail">
                <ul class="select_main">
                    <p class="select_main_p">Mail</p>
                    <i class="select_main_icon"></i>
                </ul>
                <div class="dropdown"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Column</legend>
        <div>
            <div class="select"></div>
            <div class="select"></div>
            <div class="select"></div>
            <button>Add</button>
        </div>
        <div>
            <input type="text" placeholder="Processor">
            <div class="select dropdown-host" data-value="event1">
                <ul class="select_main">
                    <p class="select_main_p">event1</p>
                    <i class="select_main_icon"></i>
                </ul>
                <div class="dropdown"></div>
            </div>
            <div class="select dropdown-host" data-value="event2">
                <ul class="select_main">
                    <p class="select_main_p">event2</p>
                    <i class="select_main_icon"></i>
                </ul>
                <div class="dropdown"></div>
            </div>
            <div class="select dropdown-host" data-value="event3">
                <ul class="select_main">
                    <p class="select_main_p">event3</p>
                    <i class="select_main_icon"></i>
                </ul>
                <div class="dropdown"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Report Guest</legend>
        <div>
            <div class="select"></div>
            <button>Add</button>
        </div>
        <div>
            <div class="select dropdown-host" data-value="Mail">
                <ul class="select_main">
                    <p class="select_main_p">Mail</p>
                    <i class="select_main_icon"></i>
                </ul>
                <div class="dropdown"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Default Date Range</legend>
        <div>
            <div class="select dropdown-host" data-value="Today">
                <ul class="select_main">
                    <p class="select_main_p">Today</p>
                    <i class="select_main_icon"></i>
                </ul>
                <div class="dropdown"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <span class="button-group">
            <button class="button button-plus"></button>
            <button class="button button-Create"></button>
        </span>
        <span class="button-group">
            <button class="button button-minus"></button>
            <button class="button button-Cancel"></button>
        </span>
    </fieldset>
</form>