<div class="cf">
    <span class="left">
        <button class="button button-create-plus">+</button>
        <button class="button button-create">Create</button>
    </span>
    <span class="form-tool right">
        <fieldset class="fieldset">
            <input class="fieldset_text" type="text">
            <button class="fieldset_button iconfont icon-search"></button>
        </fieldset>
    </span>
</div>
<dl class="container">
    <dt class="row row-title">
        <span class="row_column row_column-5">App Name</span>
        <span class="row_column row_column-5">App ID</span>
        <span class="row_column row_column-5">Report Admin</span>
        <span class="row_column row_column-5">Report Viewer</span>
        <span class="row_column row_column-5">Manage</span>
    </dt>
    <dd class="row">
        <span class="row_column row_column-5">郭鹏飞</span>
        <span class="row_column row_column-5">Nick Name faiuelid dlsakdsu</span>
        <span class="row_column row_column-5">Junior Javascript Developer</span>
        <span class="row_column row_column-5">Chief Executive Officer</span>
        <span class="row_column row_column-5">
            <i class="iconfont icon-edit tooltip-host" data-tooltip-info="Edit"></i>
            <i class="iconfont icon-delete" data-tooltip-info="Delete"></i>
        </span>
    </dd>
</dl>