<form class="app-page" name="appCreate">
    <fieldset class="field-common">
        <legend class="field-title-com">Name</legend>
        <input class="fieldset-text-com fieldset-name" ng-model="name" type="text" name="appName" required ng-pattern="/^\w{6,20}$/"  ng-blur="blur('name',appCreate.appName.$error)"  ng-focus="focus('name')" >
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <p>
            <span class="field-title-com">ID</span>
            <span class="flag">{{viewData.id}}</span>
        </p>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Time Zone</legend>
        <div class="select dropdown-host app-zone">
            <div class="select_main">
                <p class="select_main_p">哈哈哈</p>
                <i class="select_main_icon"></i>
            </div>
            <ul class="dropdown dropdown-bl">
                <li class="dropdown_arrow"></li>
                <li class="dropdown_arrow dropdown_arrow-mask"></li>
                <li class="dropdown_list">
                    <a class="dropdown_list_content" data-value="1">123</a>
                </li>
                <li class="dropdown_list">
                    <a class="dropdown_list_content" data-value="2">456</a>
                </li>
            </ul>
        </div>
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Report Admin</legend>
        <div>
            <div class="select dropdown-host select-btn">
                <div class="select_main">
                    <p class="select_main_p">Admin</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list" ng-repeat="app in viewData.reportAdmin | orderBy:app">
                        <a class="dropdown_list_content" data-value="{{app}}">{{app}}</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Report Viewer</legend>
        <div>
            <div class="select dropdown-host select-btn">
                <div class="select_main">
                    <p class="select_main_p">Viewer</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list" ng-repeat="app in viewData.reportViewer | orderBy:app">
                        <a class="dropdown_list_content" data-value="{{app}}">{{app}}</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
            <button class="button"><i class="iconfont icon-check"></i></button>
            <button class="button"><i class="iconfont icon-close"></i></button>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Processor(s)</legend>
        <div>
            <div class="select dropdown-host processor-select">
                <div class="select_main">
                    <p class="select_main_p">Processor</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list" ng-repeat="app in viewData.processor">
                        <a class="dropdown_list_content" data-value="{{app.processor}}">{{app.processor}}</a>
                    </li>
                </ul>
            </div>
            <input class="fieldset-text-com" type="text" placeholder="event1|event2">
            <!-- <div class="select dropdown-host processor-select">
                <div class="select_main">
                    <p class="select_main_p">哈哈哈</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div> -->
            <button class="button">add</button>
        </div>
        <div class="textarea textarea-processor fieldset-processor" required  >
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
        <span class="red-star">*</span>
    </fieldset>


    <fieldset class="field-common">
        <span class="button-group page-btns">
            <button class="button button-create-plus"><i class="iconfont icon-plus"></i></button>
            <button class="button button-create">Create</button>
        </span>
        <span class="button-group">
            <button class="button button-cancel-minus"><i class="iconfont icon-small"></i></button>
            <button class="button button-cancel">Cancel</button>
        </span>
    </fieldset>
</form>