<form class="change" name="cPaw">
      
    <fieldset class="field-common change-field">
        <p class="field-title-com">Password</p>
        <input ng-model="oldPassword" class="fieldset-text-com text-oldPassword" type="password"
               placeholder="password" required  name="oldPassword" ng-blur="blur('oldPassword', cPaw.oldPassword.$error)"
               ng-focus="focus('oldPassword')" onpaste="return false;" ng-class="{'password-error':oldPasswordError}" >
       
    </fieldset>
   <fieldset class="field-common change-field ">
        <p class="field-title-com">New Password</p>
        <input ng-model="newPassword" class="fieldset-text-com text-newPassword" type="password"
               placeholder="New Password" required ng-pattern="/^\w{6,20}$/"
               name="newPassword" ng-blur="blur('newPassword', cPaw.newPassword.$error)"
               ng-focus="focus('newPassword')" ng-class="{'password-error':newPasswordError}" onpaste="return false;">
    </fieldset>
    <fieldset class="field-common change-field ">
        <p class="field-title-com">Confirm New Password</p>
        <input ng-model="reNewPassword" class="fieldset-text-com text-reNewPassword" type="password"
               placeholder="Confirm New Password" required ng-pattern="/^\w{6,20}$/"
               name="reNewPassword" ng-blur="blur('reNewPassword', cPaw.reNewPassword.$error)"
               ng-focus="focus('reNewPassword')" ng-class="{'password-error':reNewPasswordError}" onpaste="return false;">
    </fieldset>
    <fieldset class="button-group">
        <a href="javascript:;" class="button button-save-plus" ng-click="submit()">+</a>
        <a href="javascript:;" class="button button-save" ng-click="submit()">Save</a>
    </fieldset>
</form>