<form class="change" name="cPaw">
      
    <fieldset class="change-field fieldset-password" ng-class="{'password-error':passwordError}">
        <p class="change-field_title">Password</p>
        <input ng-model="password" class="fieldset_text" type="text"
               placeholder="password" required ng-pattern="/^\w{6,16}$/"
               name="cPassword" ng-blur="blur('password', cPaw.cPassword.$error)"
               ng-focus="focus('password')" >
       
    </fieldset>
   <fieldset class="change-field fieldset-newPassword" ng-class="{'password-error':newPawError}">
        <p class="change-field_title">New Password</p>
        <input ng-model="newPassword" class="fieldset_text" type="text"
               placeholder="New Password" required ng-pattern="/^\w{6,16}$/"
               name="cNewPassword" ng-blur="blur('newPassword', cPaw.cNewPassword.$error)"
               ng-focus="focus('newPassword')" >
    </fieldset>
    <fieldset class="change-field fieldset-reNewPassword" ng-class="{'password-error':reNewPawError}">
        <p class="change-field_title">Confirm New Password</p>
        <input ng-model="reNewPassword" class="fieldset_text" type="password"
               placeholder="Confirm New Password" required ng-pattern="/^\w{6,16}$/"
               name="cReNewPassword" ng-blur="blur('reNewPassword', cPaw.cReNewPassword.$error)"
               ng-focus="focus('reNewPassword')" >
    </fieldset>
    <fieldset class="fieldset">
        <a href="javascript:;" class="button button-save-plus">+</a>
        <a href="javascript:;" class="button button-save">Save</a>
    </fieldset>
</form>