<form class="form form-panel" name="ndForm" novalidate>
    <fieldset class="fieldset fieldset-group fieldset-account" ng-class="{'fieldset-error':accountError}">
        <label class="fieldset-group_label iconfont icon-user"></label>
        <input ng-model="account.email" class="fieldset_text" type="text"
               placeholder="Email" required ng-pattern="/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/"
               name="ndAccount" ng-blur="blur('account', ndForm.ndAccount.$error)"
               ng-focus="focus('account')" onpaste="return false;">
    </fieldset>
    <fieldset class="fieldset fieldset-group fieldset-password" ng-class="{'fieldset-error':passwordError}">
        <label class="fieldset-group_label iconfont icon-key"></label>
        <input ng-model="account.password" class="fieldset_text" type="password"
               placeholder="Password" required ng-pattern="/^\w{6,20}$/"
               name="ndPassword" ng-blur="blur('password', ndForm.ndPassword.$error)"
               ng-focus="focus('password')" onpaste="return false;" >
    </fieldset>
    <fieldset class="fieldset">
        <button ng-click="submit()" class="fieldset_button" type="button">log in</button>
    </fieldset>
</form>