<form class="report-page">
    <fieldset class="field-common">
        <legend class="field-title-com">Application Name</legend>
        <input class="fieldset-text-com report-app" type="text" ng-readonly="true" value="app1">
    </fieldset>
    <fieldset class="field-common">
        <p>
            <span class="field-title-com">Application ID</span>
            <span class="flag">132</span>
        </p>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Report Name</legend>
        <input class="fieldset-text-com" type="text">
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Describe</legend>
        <textarea class="fieldset-text-com report-describe" placeholder="Input massage..."></textarea>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Dimension</legend>
        <div>
            <div class="select dropdown-host select-btn">
                <div class="select_main">
                    <p class="select_main_p">mail</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Filter</legend>
        <div>
            <div class="select dropdown-host select-btn">
                <div class="select_main">
                    <p class="select_main_p">哈哈哈</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Column</legend>
        <div>
            <input class="fieldset-text-com field-text-column" type="text">
            <div class="select dropdown-host select-btn-column">
                <div class="select_main">
                    <p class="select_main_p">event1</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <div class="select dropdown-host select-btn-column">
                <div class="select_main">
                    <p class="select_main_p">event1</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <input class="fieldset-text-com field-text-column" type="text">
            <div class="select dropdown-host select-btn-column">
                <div class="select_main">
                    <p class="select_main_p">event1</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
        </div>
        <div class="textarea teatarea-column">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Report Guest</legend>
        <div>
            <div class="select dropdown-host select-btn">
                <div class="select_main">
                    <p class="select_main_p">哈哈哈</p>
                    <i class="select_main_icon"></i>
                </div>
                <ul class="dropdown dropdown-bl">
                    <li class="dropdown_arrow"></li>
                    <li class="dropdown_arrow dropdown_arrow-mask"></li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="1">123</a>
                    </li>
                    <li class="dropdown_list">
                        <a class="dropdown_list_content" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Default Date Range</legend>
        <div class="select dropdown-host report-date">
            <div class="select_main">
                <p class="select_main_p">today</p>
                <i class="select_main_icon"></i>
            </div>
            <ul class="dropdown dropdown-bl">
                <li class="dropdown_arrow"></li>
                <li class="dropdown_arrow dropdown_arrow-mask"></li>
                <li class="dropdown_list">
                    <a class="dropdown_list_content" data-value="1">1dddd23</a>
                </li>
                <li class="dropdown_list">
                    <a class="dropdown_list_content" data-value="2">45ddddd6</a>
                </li>
            </ul>
        </div>
    </fieldset>

    <fieldset class="field-common">
        <span class="button-group page-btns">
            <button class="button button-create-plus">+</button>
            <button class="button button-create">Create</button>
        </span>
        <span class="button-group">
            <button class="button button-cancel-minus">-</button>
            <button class="button button-cancel">Cancel</button>
        </span>
    </fieldset>
</form>