<form class="report-page" name="reportFrom" novalidate >
    <fieldset class="field-common">
        <legend class="field-title-com">Application Name</legend>
        <input class="fieldset-text-com report-app" type="text" ng-readonly="true" value="app1">
    </fieldset>
    <fieldset class="field-common">
        <p>
            <span class="field-title-com">Application ID</span>
            <span class="flag">132</span>
        </p>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Report Name</legend>
       <input class="fieldset-text-com fieldset-accountName" type="text" name="accountName" ng-model="accountName"  required ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9]+$/" ng-blur="blur('accountName', reportFrom.accountName.$error)"   ng-focus="focus('accountName')" >
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Describe</legend>
        <textarea class="fieldset-text-com report-describe" placeholder="Input massage..."></textarea>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Dimension</legend>
        <div>
            <div class="select select-host select-btn">
                <div class="select_main">
                    <input class="select_main_textarea select_target" type="text" value="自定义">
                    <button class="select_main_btn select_target">
                        <i class="select_main_btn_icon"></i>
                    </button>
                </div>
                <ul class="select_content">
                    <li class="select_content_arrow"></li>
                    <li class="select_content_arrow select_content_arrow-mask"></li>
                    <li class="select_content_list" ng-repeat="reportDimension in reportDimensions ">
                        <a class="select_content_list_value" data-value="{{ reportDimension.value }}">{{ reportDimension.dimension }}</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
            <a class="button button-check"><i class="iconfont icon-check"></i></a>
            <a class="button button-close"><i class="iconfont icon-close"></i></a>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Filter</legend>
        <div>
            <div class="select select-host select-btn">
                <div class="select_main">
                    <input class="select_main_textarea select_target" type="text" value="" />
                    <button class="select_main_btn select_target">
                        <i class="select_main_btn_icon"></i>
                    </button>
                </div>
                <ul class="select_content">
                    <li class="select_content_arrow"></li>
                    <li class="select_content_arrow select_content_arrow-mask"></li>
                    <li class="select_content_list" ng-repeat="reportDimension in reportDimensions ">
                        <a class="select_content_list_value" data-value="{{ reportDimension.value }}">{{ reportDimension.dimension }}</a>
                    </li>
                </ul>
            </div>
            <div class="select select-host select-btn">
                <div class="select_main">
                    <p class="select_main_text select_target"></p>
                    <button class="select_main_btn select_target">
                        <i class="select_main_btn_icon"></i>
                    </button>
                </div>
                <ul class="select_content">
                    <li class="select_content_arrow"></li>
                    <li class="select_content_arrow select_content_arrow-mask"></li>
                    <li class="select_content_list" ng-repeat="computeSign in computeSigns ">
                        <a class="select_content_list_value" data-value="{{ computeSign }}">{{ computeSign }}</a>
                    </li>
                </ul>
            </div>
            <input class="" type="text" value="" />
            <button class="button">add</button>
            <a class="button button-check"><i class="iconfont icon-check"></i></a>
            <a class="button button-close"><i class="iconfont icon-close"></i></a>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Column</legend>
        <div>
            <input class="fieldset-text-com field-text-column" type="text">
            <div class="select select-host select-btn-column">
                <div class="select_main">
                    <p class="select_main_text select_target">aaa</p>
                    <button class="select_main_btn select_target">
                        <i class="select_main_btn_icon"></i>
                    </button>
                </div>
                <ul class="select_content">
                    <li class="select_content_arrow"></li>
                    <li class="select_content_arrow select_content_arrow-mask"></li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="1">123</a>
                    </li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="2">456</a>
                    </li>
                </ul>
            </div>

            <div class="select select-host select-btn-column">
                <div class="select_main">
                    <p class="select_main_text select_target">bbb</p>
                    <button class="select_main_btn select_target">
                        <i class="select_main_btn_icon"></i>
                    </button>
                </div>
                <ul class="select_content">
                    <li class="select_content_arrow"></li>
                    <li class="select_content_arrow select_content_arrow-mask"></li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="1">123</a>
                    </li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <input class="fieldset-text-com field-text-column" type="text">
            <div class="select select-host select-btn-column">
                <div class="select_main">
                    <p class="select_main_text select_target">ccc</p>
                    <button class="select_main_btn select_target">
                        <i class="select_main_btn_icon"></i>
                    </button>
                </div>
                <ul class="select_content">
                    <li class="select_content_arrow"></li>
                    <li class="select_content_arrow select_content_arrow-mask"></li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="1">123</a>
                    </li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
            <a class="button button-check"><i class="iconfont icon-check"></i></a>
            <a class="button button-close"><i class="iconfont icon-close"></i></a>
        </div>
        <div class="textarea teatarea-column">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
        <span class="red-star">*</span>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Report Guest</legend>
        <div>
            <div class="select select-host select-btn">
                <div class="select_main">
                    <input class="select_main_textarea select_target" type="text" value="">
                    <button class="select_main_btn select_target">
                        <i class="select_main_btn_icon"></i>
                    </button>
                </div>
                <ul class="select_content">
                    <li class="select_content_arrow"></li>
                    <li class="select_content_arrow select_content_arrow-mask"></li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="1">123</a>
                    </li>
                    <li class="select_content_list">
                        <a class="select_content_list_value" data-value="2">456</a>
                    </li>
                </ul>
            </div>
            <button class="button">add</button>
            <a class="button button-check"><i class="iconfont icon-check"></i></a>
            <a class="button button-close"><i class="iconfont icon-close"></i></a>
        </div>
        <div class="textarea">
            <span class="flag flag-icon"> Admin1
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin2
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
            <span class="flag flag-icon"> Admin3
                <i class="flag-icon_delete iconfont icon-close">
                    
                </i>
            </span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <legend class="field-title-com">Default Date Range</legend>
        <div class="select select-host report-date">
            <div class="select_main">
                <p class="select_main_text select_target"></p>
                <button class="select_main_btn select_target">
                    <i class="select_main_btn_icon"></i>
                </button>
            </div>
            <ul class="select_content">
                <li class="select_content_arrow"></li>
                <li class="select_content_arrow select_content_arrow-mask"></li>
                <li class="select_content_list" ng-repeat="dateRange in reportDateRanges ">
                    <a class="select_content_list_value" data-value="{{ dateRange.value }}">{{ dateRange.meaning }}</a>
                </li>
            </ul>
            </div>
    </fieldset>
    <fieldset class="field-common">
        <span class="button-group page-btns">
            <button class="button button-create-plus"><i class="iconfont icon-plus"></i></button>
            <button class="button button-create">Create</button>
        </span>
        <span class="button-group">
            <button class="button button-cancel-minus"><i class="iconfont icon-small"></i></button>
            <button class="button button-cancel">Cancel</button>
        </span>
    </fieldset>
</form>
