<form class="report-page report">
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Application Name</span>
        <span>As Report Admin</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Application ID</span>
        <span class="flag">132</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Report Name</span>
        <span>Report1</span>
        <button class="report-blue-btn report-edit-btn">Edit Report</button>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Report Description</span>
        <span>Report1</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Dimension</span>

        <span class="iconfont icon-checkbox-checked"></span><span class="report-dimension">Date</span>
        <span class="iconfont icon-checkbox-unchecked"></span><span class="report-dimension">Dimension1</span>
        <span class="iconfont icon-checkbox-checked"></span><span class="report-dimension">Dimension2</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Filter</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Report Description</span>
        <span>value1,value1,value1...</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Date Range</span>
        <div class="select dropdown-host report-data-select">
            <div class="select_main">
                <p class="select_main_p">自定义</p>
                <i class="select_main_icon"></i>
            </div>
            <ul class="dropdown dropdown-bl">
                <li class="dropdown_arrow"></li>
                <li class="dropdown_arrow dropdown_arrow-mask"></li>
                <li class="dropdown_list">
                    <a class="dropdown_list_content" data-value="1">123</a>
                </li>
                <li class="dropdown_list">
                    <a class="dropdown_list_content" data-value="2">456</a>
                </li>
            </ul>
        </div>
        <div class="fieldset-text-com report-data-select" >
            <input class="report-data-text left" type="text" value="2015-07-20" id="checkDate" gldp-id="checkDate">
            <span class="iconfont icon-date right"></span>
        </div>
        <div class="fieldset-text-com report-data-select" >
            <input class="report-data-text left" type="text" value="2015-07-20" id="leaveDate" gldp-id="leaveDate" >
            <span class="iconfont icon-date right"></span>
        </div>
    </fieldset>
    <a class="report-blue-btn report-load-btn">Load Report</a>
    <fieldset class="field-common">
        <div class="left field-title-com">Report Table</div>
        <div class="right button-group">
            <a class="report-email">Email</a>
            <a class="report-export">Export</a>
        </div>
    </fieldset>
    <fieldset class="report-table">
        <dl class="container">
            <dt class="row row-title row-color-interlaced">
                <ul>
                    <li class="row_column row_column-5">Date</li>
                    <li class="row_column row_column-5">Dimension1</li>
                    <li class="row_column row_column-5">Dimensionn2</li>
                    <li class="row_column row_column-5">value1</li>
                    <li class="row_column row_column-5">valueN</li>
                </ul>
            </dt>
            <dd class="row row-color-interlaced">
                <ul>
                    <li class="row_column row_column-5">
                        <a href="#">aa</a>
                    </li>
                    <li class="row_column row_column-5">
                        <a href="#">bb</a>
                    </li>
                    <li class="row_column row_column-5">
                        <span>
                            <a href="#">cc</a>
                        </span>
                    </li>
                    <li class="row_column row_column-5">
                        <span>
                            <a href="#">dd</a>
                        </span>
                    </li>
                    <li class="row_column row_column-5">
                        hh
                    </li>
                </ul>
            </dd>
            <dd class="row row-color-interlaced">
                <ul>
                    <li class="row_column row_column-5">
                        <a href="#">aa</a>
                    </li>
                    <li class="row_column row_column-5">
                        <a href="#">bb</a>
                    </li>
                    <li class="row_column row_column-5">
                        <span>
                            <a href="#">cc</a>
                        </span>
                    </li>
                    <li class="row_column row_column-5">
                        <span>
                            <a href="#">dd</a>
                        </span>
                    </li>
                    <li class="row_column row_column-5">
                        ee
                    </li>
                </ul>
            </dd>
            <dd class="row row-color-interlaced">
                <ul>
                    <li class="row_column row_column-5">
                        <a href="#">aa</a>
                    </li>
                    <li class="row_column row_column-5">
                        <a href="#">bb</a>
                    </li>
                    <li class="row_column row_column-5">
                        <span>
                            <a href="#">cc</a>
                        </span>
                    </li>
                    <li class="row_column row_column-5">
                        <span>
                            <a href="#">dd</a>
                        </span>
                    </li>
                    <li class="row_column row_column-5">
                        ee
                    </li>
                </ul>
            </dd>
        </dl>    
    </fieldset>
    <span class="checkbox">
        <span class="checkbox--active"></span>
    </span> 
</form>