<form class="report-page report">
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Application Name</span>
        <span>{{ reportSourceData.appname }}</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Application ID</span>
        <span class="flag">{{ reportSourceData.appid }}</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Report Name</span>
        <span>{{ reportSourceData.report_name }}</span>
        <a href="#/report/manage/edit/{{ reportSourceData.id }}" class="report-blue-btn report-edit-btn">Edit Report</a>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Report Describe</span>
        <span>{{ reportSourceData.describe }}</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Dimension</span>
        <ul class="inline-block cf">
            <li class="left">
                <span class="iconfont icon-checkbox-checked"></span>
                <span class="report-dimension">Date</span>
            </li>
            <li class="left" ng-repeat="dimension in reportSourceData.dimension">
                <span class="iconfont icon-checkbox-checked"></span>
                <span class="report-dimension">{{ dimension }}</span>
            </li>
        </ul>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Filter</span>
        <ul class="inline-block cf">
            <li class="left" ng-repeat="filter in reportSourceData.filter">
                <span class="iconfont icon-checkbox-checked"></span>
                <span class="report-dimension">{{ filter }}</span>
            </li>
        </ul>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Value</span>
        <ul class="inline-block cf">
            <li class="left" ng-repeat="value in reportSourceData.values">
                <span class="flag">{{ value }}</span>
            </li>
        </ul>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Date Range</span>
        <div class="select select-host select-btn">
            <div class="select_main">
                <input class="select_main_textarea select_target" type="text" value="" placeholder="自定义">
                <button class="select_main_btn select_target">
                    <i class="select_main_btn_icon"></i>
                </button>
            </div>
            <ul class="select_content">
                <li class="select_content_arrow"></li>
                <li class="select_content_arrow select_content_arrow-mask"></li>
                <li class="select_content_list" ng-repeat="dateRange in reportDateRanges ">
                    <a class="select_content_list_value" data-value="{{ dateRange.value }}">{{ dateRange.meaning }}</a>
                </li>
            </ul>
        </div>
        <div class="report-data-select">
            <input class="report-data-text" type="text" value="2015-07-20" id="checkDate" gldp-id="checkDate">
            <span class="iconfont icon-date"></span>
        </div>
        <div class="report-data-select">
            <input class="report-data-text" type="text" value="2015-07-20" id="leaveDate" gldp-id="leaveDate" >
            <span class="iconfont icon-date"></span>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <button class="report-blue-btn report-load-btn">Load Report</button>
    </fieldset>
    <fieldset class="field-common cf">
        <div class="left field-title-com">Report Table</div>
        <div class="right button-group">
            <a class="report-export">Export</a>
        </div>
    </fieldset>
    <fieldset class="report-table">
        <dl class="container">
            <dt class="row row-title row-color-interlaced">
                <ul>
                    <li class="row_column row_column-{{ statistics.length }}" ng-repeat="tableItem in reportSourceData['table_list'][0]">{{ statistic }}</li>
                </ul>
            </dt>
            <dd class="row row-color-interlaced" ng-repeat="(key, val) in reportSourceData['table_list']">
                <ul>
                    <li class="row_column row_column-{{ reportSourceData.dimension.length + reportSourceData.values.length + 1 }}" >
                        <a href="#">aa</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </fieldset>
</form>