<form class="report-page report">
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Application Name</span>
        <span>{{ reportSourceData.appname }}</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Application ID</span>
        <span class="flag">{{ reportSourceData.appid }}</span>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Report Name</span>
        <span>{{ reportSourceData.report_name }}</span>
        <a ng-if="permission <= 1" href="#/report/manage/edit/{{ reportSourceData.id }}" class="report-blue-btn report-edit-btn">Edit Report</a>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Report Describe</span>
        <span class="report-describe">{{ reportSourceData.describe }}</span>
    </fieldset>
    <fieldset class="field-common field-report field-dimension">
        <span class="field-title-com report-title">Dimension</span>
        <ul class="inline-block cf">
            <li class="left">
                <span class="checkbox iconfont icon-checkbox-checked" disabled="disabled" data-value="Date"></span>
                <span class="report-dimension">Date</span>
            </li>
            <li class="left" ng-repeat="dimension in reportSourceData.dimension">
                <span class="checkbox iconfont icon-checkbox-checked" checked="checked" data-value="{{ dimension }}"></span>
                <span class="report-dimension">{{ dimension }}</span>
            </li>
        </ul>
    </fieldset>
    <fieldset class="field-common field-report field-filter">
        <span class="field-title-com report-title">Filter</span>
        <ul class="inline-block cf">
            <li class="left" ng-repeat="filter in reportSourceData.filter">
                <span class="checkbox iconfont icon-checkbox-checked" checked="checked" data-value="{{ filter }}"></span>
                <span class="report-dimension">{{ filter.split('#@DELIMITER@#').join('') }}</span>
            </li>
        </ul>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Value</span>
        <ul class="inline-block cf">
            <li class="left" ng-repeat="valueObj in reportSourceData.values">
                <span class="flag tooltip-host" data-tooltip-position="tc" data-tooltip-info="{{ valueObj.groupValue.split('#@DELIMITER@#').join('') | uppercase }}">{{ valueObj.value_name }}</span>
            </li>
        </ul>
    </fieldset>
    <fieldset class="field-common field-report">
        <span class="field-title-com report-title">Date Range</span>
        <div class="select select-host select-btn select-data report-data-define">
            <div class="select_main">
                <input class="select_main_textarea select_target" type="text" value="" placeholder="自定义">
                <button class="select_main_btn select_target">
                    <i class="select_main_btn_icon"></i>
                </button>
            </div>
            <ul class="select_content">
                <li class="select_content_arrow"></li>
                <li class="select_content_arrow select_content_arrow-mask"></li>
                <li class="select_content_list" ng-repeat="(value, meaning) in reportDateRanges ">
                    <a class="select_content_list_value" data-value="{{ value }}">{{ meaning }}</a>
                </li>
            </ul>
        </div>
        <div class="report-data-select">
            <input id="reportStartDate" class="report-data-text" type="text" value="" id="checkDate" gldp-id="reportStartDate">
            <span class="iconfont icon-date"></span>
            <div gldp-el="reportStartDate" style="width:241px; height:200px;"></div>
        </div>
        <div class="report-data-select">
            <input id="reportEndDate" class="report-data-text" type="text" value="" id="leaveDate" gldp-id="reportEndDate">
            <span class="iconfont icon-date"></span>
            <div gldp-el="reportEndDate" style="width:241px; height:200px; position:absolute; top:34px; left:50px;"></div>
        </div>
    </fieldset>
    <fieldset class="field-common">
        <button class="report-blue-btn report-load-btn" ng-click="loadReport()">Load Report</button>
    </fieldset>
    <fieldset class="field-common cf" ng-if="reportSourceData['table_list']">
        <div class="left field-title-com">Report Table</div>
        <div class="right button-group">
            <a class="report-export" ng-click="reportExport()">Export</a>
        </div>
    </fieldset>
    <fieldset class="report-table" ng-if="reportSourceData['table_list']">
        <dl class="container">
            <dt class="row row-title row-color-interlaced">
                <ul class="cf">
                    <li class="row_column row_column-{{ reportSourceData['table_list'][0].length }}"
                        ng-repeat="titles in reportSourceData['table_list'][0]" ng-click="changeSort('reportTable', $index)">{{ titles }}</li>
                </ul>
            </dt>
            <dd class="row row-color-interlaced"  ng-init="index = $index">
                <ul class="cf">
                    <li class="row_column row_column-{{ reportSourceData['table_list'][0].length }}"
                        ng-repeat="(title, count) in reportSourceData['table_list'][1]">
                        <a>{{ count }}</a>
                    </li>
                </ul>
                <ul class="cf" ng-repeat="values in reportSourceData['table_list'] | slice:2 | orderBy:sort.reportTable.orderKey:sort.reportTable.isDownOrder">
                    <li class="row_column row_column-{{ reportSourceData['table_list'][0].length }}" ng-repeat="value in values track by $index">
                        <a>{{ value }}</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </fieldset>
</form>