<section class="cf">
    <div class="form-tool right">
        <search></search>
    </div>
</section>
<dl class="container">
    <dt class="row row-title">
    <ul>
        <li class="row_column row_column-4" ng-click="changeSort('systemList', 'date')">Time</li>
        <li class="row_column row_column-4" ng-click="changeSort('systemList', 'username')">Account</li>
        <li class="row_column row_column-4" ng-click="changeSort('systemList', 'operaevents')">Operation</li>
        <li class="row_column row_column-4" ng-click="changeSort('systemList', 'ip')">IP</li>
    </ul>
    </dt>
    <dd class="row row-color-interlaced" ng-repeat="log in viewData | orderBy:sort.systemList.orderKey:sort.systemList.isDownOrder ">
        <ul>
            <li class="row_column row_column-4">{{ log.date | date:'yyyy-MM-dd hh:mm:ss' }}</li>
            <li class="row_column row_column-4">{{ log.username }}</li>
            <li class="row_column row_column-4">{{ log.operaevents }}</li>
            <li class="row_column row_column-4">{{ log.ip }}</li>
        </ul>
    </dd>
</dl>